*{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header h1
{
    margin:0px;
    padding:0px;
}
header button{
    float:right;
    margin-right: 60px;
    font-size: 25px;
}
header h1{
    text-align: center;
    font-size:6em;
}
nav ul{
    list-style-type:none;
    margin-left: 200px;
}
nav li{
    float:left;
    width: 16%;
    text-align: center;
    font-size: 2em;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav{
    display:initial;
    width: 70%;
    margin:0 auto;
  
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    top:0px;
}
nav a{
    display:block;
    text-decoration: none;
    color:white;
    border-bottom: 2px solid transparent;
    padding:30px 0px;
}
nav a:hover{
    color:orange;
    border-bottom: 2px solid gold;
}
footer{
    padding:60px;
    font-size: 2em;
    text-align: center;
}
#contenu{
    margin-top: 30px;
    
}
.presentation{
    font-size: 30px;
    text-align: justify;
    margin-left: 100px;
}


html{
    width:100%;
    height:100%;
  }
  body{
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    }
    body > div > div
    {
        font-size:18px;
    }
*{
    box-sizing:border-box
  }
#menu-lat
{
    float:left;
    width:360px;
}
.princip
{
    margin-left:400px;
}
.princip h1
{
    text-align: center;
}
#menu-lat ul {
    width:300px;
    list-style:none;
    padding:0px;
  }
  
#menu-lat ul li {
      text-align:center;
      border: 1px solid #fff ;
      padding:15px 15px;
      max-height: 55px;
  }
  
#menu-lat ul li a{
    text-decoration:none;
    color:#f7f7f7;
    text-transform:uppercase;
    display:block;
  }
  
#menu-lat ul li:hover {
      background: #54B6A8;
      -moz-transition: all .8s; 
      -webkit-transition: all .8s; 
      -o-transition: all .8s; 
      transition: all .8s;
  }
  
.princip
{
    font-size: 19px;
}
#menu-lat ul > li > ul{
    opacity:0;   
    display:none;
    z-index:999;
    border: 1px solid #000;
    margin-top:-35px;
    background-color:#54B6A8;
  }
  
#menu-lat ul li:hover > ul {
    display: block; 
    position:relative;
    opacity:1;
    margin-left:185px
  }

.liste table,div[class="princip"] table{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}
.liste td,div[class="princip"] td{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
    text-align: left;
    padding : 16px;
    font-size:20px;
}
.liste th,div[class="princip"] th{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
    text-align: left;
    padding : 16px;
    font-size:20px;
}
.recherche
{
    float:right;
    width: 550px;
    margin-right: 400px;
    padding:60px 0px;
    font-size: 20px;
}
.recherche2
{  
    padding:60px 0px;
    float:left;
    width: 850px;
    font-size: 20px;
}
.liste
{
    clear:both;
}
.rechercher
{
    clear:both;
}
footer
{
    clear:left;
}