*{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header h1
{
    margin:0px;
    padding:0px;
}
header button{
    float:right;
    margin-right: 60px;
    font-size: 25px;
}
header h1{
    text-align: center;
    font-size:6em;
}
nav ul{
    list-style-type:none;
}
nav li{
    float:left;
    width: 18%;
    text-align: center;
    font-size: 2em;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav{
    width: 70%;
    margin: 0 auto;
    position:sticky;
    background-color:transparent;
    top:0px;
}
nav a{
    display:block;
    text-decoration: none;
    color:white;
    border-bottom: 2px solid transparent;
    padding:30px 0px;
}
nav a:hover{
    color:orange;
    border-bottom: 2px solid gold;
}
footer{
    padding:60px;
    font-size: 2em;
    text-align: center;
}
#contenu{
    margin-top: 30px;
    
}
.presentation{
    font-size: 25px;
    text-align: justify;
    margin-left: 100px;
}


html{
    width:100%;
    height:100%;
    font-size:100%;
  }
body {
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    background: linear-gradient(to right, #636FA4, #E8CBC0);
      font-size:1em;
    }
*{
    box-sizing:border-box
  }
#menu-lat ul {
    width:300px;
    list-style:none;
    padding:0px;
  }
  
#menu-lat ul li {
      text-align:center;
      border: 1px solid #fff ;
      padding:15px 15px;
      max-height: 55px;
  }
  
#menu-lat ul li a{
    text-decoration:none;
    color:#f7f7f7;
    text-transform:uppercase;
    
  }
  
#menu-lat ul li:hover {
      background: #54B6A8;
      -moz-transition: all .8s; 
      -webkit-transition: all .8s; 
      -o-transition: all .8s; 
      transition: all .8s;
  }
  
  
#menu-lat ul > li > ul{
    opacity:0;   
    display:none;
    z-index:999;
    border: 1px solid #000;
    margin-top:-35px;
    background-color:#54B6A8;
  }
  
#menu-lat ul li:hover > ul {
    display: block; 
    position:relative;
    opacity:1;
    margin-left:185px
  }

#effectif table{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
}
#effectif td{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
}
#effectif th{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
}
#effectif th
{
    text-align: left;
    padding : 16px;
    font-size:20px;
}
#effectif td
{
    text-align: left;
    padding : 16px;
    font-size:20px;
}

#effectif table
{
    margin-left:auto;
    margin-right: auto;
}
#effectif h1
{
    text-align:center;
}
#competition table{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
}
#competition td{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
}
#competition th{
    border:2px solid white;
    border-collapse: collapse;
    width: 50%;
}
#competition th
{
    text-align: left;
    padding : 16px;
    font-size:20px;
}
#competition td
{
    text-align: left;
    padding : 16px;
    font-size:20px;
}

#competition table
{
    margin-right:auto;
    margin-left:auto;
}
#competition h1
{
    text-align:center;
}

